<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
  <a href="https://github.com/vaishnavm217/ngramkeys"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png" alt="Fork me on GitHub"></a>
  <form class="form-signin text-center">
     <div class="row">
       <!-- <img class="mb-4" src="../../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"> -->
       <h1 class="col-12 text-center font-weight-normal">Text Suggestion and Correction</h1>
       <br><br><br>
       <!-- <p>Build form controls with floating labels via the <code>:placeholder-shown</code> pseudo-element. <a href="https://caniuse.com/#feat=css-placeholder-shown">Works in latest Chrome, Safari, and Firefox.</a></p> -->
    </div>
       <div class="row">
       <div class="col-4"></div>
        <div class="col-4">
          <input type="text" id="query" class="form-control" placeholder="Enter Text to start" required>
          <br><br>
        </div>
        <div class="col-4"></div>
      </div>

   <div class="row btn-group btn-group-toggle text-center" data-toggle="buttons">
  <label class="btn btn-secondary active ">
    <input type="radio" name="index" id="Wiki" autocomplete="off" checked value="wiki"> Wiki
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="index" id="Blog" autocomplete="off" value="blog"> Blog
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="index" id="tweet" autocomplete="off" value="twitter"> Twitter
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="index" id="News" autocomplete="off" value="news"> News
  </label>
  </div>
</form>
<br><br>
<h1 class="text-center">Suggestion</h1>
<div class="row text-center" id="sugg">
<!-- <div class="card">
  <div class="card-body">
    <h5 class="card-title">HIHIHIHI</h5>
  </div>
</div> -->
</div>
<h1 class="text-center">Correction</h1>
<br>
<br>
<div class="row text-center" id="corr">
<!-- <div class="card">
  <div class="card-body">
    <h5 class="card-title">HIHIHIHI</h5>
  </div>
</div> -->
</div>
<p id="output"></p>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
crossorigin="anonymous"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script>
var typingTimer;                //timer identifier
var doneTypingInterval = 300;  //time in ms (5 seconds)

//on keyup, start the countdown
$('#query').keyup(function(){
    clearTimeout(typingTimer);
    if ($('#query').val()) {
        typingTimer = setTimeout(doneTyping, doneTypingInterval);
    }
});
function doneTyping() {
  //var msg = "Handler for .keyup() called " + xTriggered + " time(s).";
  $.post('{% url "load" %}',{data:$('#query').val(),index:$("input[name='index']:checked").val()}).done(function(data){
    // console.log("GOING!",JSON.stringify(data))
    correction = data['correction']
    suggestion = data['suggestion']
    datacorr ='';
    datasugg ='';
    if(correction.length)
    {
      for(t in correction)
      {
        datacorr+='<div class="card mx-auto"><div class="card-body"><h5 class="card-title">'
        datacorr+=correction[t]
        datacorr+='</h5></div></div>'
      }
      $("#corr").html(datacorr)
    }
    else {
      $("#corr").html('')
    }
    if(suggestion.length)
    {
      for(t in suggestion)
      {
        datasugg+='<div class="card mx-auto"><div class="card-body"><h5 class="card-title">'
        datasugg+=suggestion[t]
        datasugg+='</h5></div></div>'
      }
      $("#sugg").html(datasugg)
    }
    else {
      $("#sugg").html('')
    }
  });
}

</script>
</body>

</html>
